
.data_grid_page_links {
  padding-top: 10px;
}

a.data_grid_page_link {
  padding: 3px 5px 3px 5px;
  background-color: #e2e2e2;
  margin-right: 2px;
  margin-top: 5px;
  text-decoration: none;
  float:left;
}

a.data_grid_page_link:hover {
  text-decoration: none;
  color: black;
}

.data_grid_page_links .current {
  color: black;
  background-color: #FFCA5A;
}

#data_grid_data th {
  padding-right: 8px;
}

#data_grid_data .sortable {
  /* background: url('/imgs/data_grid/sort_both.png') no-repeat center right; */
}
